<div style="padding-bottom: 5px">
    <span>Share this post on</span>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ site.url }}{{ page.url }}&quote={{ page.title }}" title="Share on Facebook" target="_blank"><span class="icon icon--facebook">{% include icon-facebook.svg %}</span></a>
    <a href="https://twitter.com/intent/tweet?source=https%3A%2F%2F{{ site.url }}{{ page.url }}&text={{ page.title }}:%20https%3A%2F%2F{{ site.url }}{{ page.url }}" target="_blank" title="Tweet"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2F{{ site.url }}{{ page.url }}&title={{ page.title }}&summary=test&source=https%3A%2F%2F{{ page.url }}" target="_blank" title="Share on LinkedIn"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></a>
</div>